# Others folders and files
data/
cll_genie/static/js/temp/
results/
.logs
.log
logs/
TODO*
cll_genie/blueprints/models/cll_users.py
unit_testing.py
cll_genie/blueprints/models/mongo.py
docker-compose_copy.yml
Dockerfile_copy
cll_genie/templates/cll_report_pdf_backup.html

# Environments
.env
.venv
env/
venv/
venv_311/
ENV/
env.bak/
.env_copy

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Emacs/vim backup files:
*~
\#*\#

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*/__pycache__/



# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:
instance/
.webassets-cache


# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

