table.failed th {
    background-color: #c00;
    height: 24px;
}

table.failed {
    filter: opacity(50%);
}


table.topup th {
    background-color: #77f;
    height: 24px;
}

table.normal th {
    background-color: rgb(222, 159, 83);
    height: 24px;
}

div.plot {
    width: 1200px;
    height: 500px;
}

td.low {
    background-color: #ebb;
}

td.task_text {
    max-width: 200px;
    word-wrap: break-word;
}

td.date {
    text-align: right;
    vertical-align: bottom;
}

span.date {
    color: #bbd;
    font-size: 10px;
}

span.asignee {
    color: #bbd;
    font-size: 10px;
}

span.assigned_to_you {
    background-color: rgb(239, 184, 122);
    color: rgb(255, 161, 98);
    padding: 2px;
}

span.unassigned {
    background-color: #faa;
    color: #a66;
    padding: 2px;
}

span.assay_header {
    font-size: 30px;
    background: #DEF;
    margin-left: 20px;
    padding: 0px 30px 0px 30px;
}

span.done {
    background-color: #aaf;
    color: #66a;
    padding: 2px;
}


div.proj {
    float: left;
    width: 370px;
    max-width: 370px;
    margin-right: 50px;
    margin-bottom: 50px;
    border: 1px solid #ddd;
}

div.archive {
    width: 700px;
}

th.archive {
    height: 34px;
}

div.newproj {}


th.proj {
    text-align: left;
    height: 40px;
    color: #fafdff;
    font-size: 18px;
    font-weight: normal;
}

span.task_menu_btn {
    color: #aaa;
}

.task_menu_td {
    width: 10px;
}

span.task_menu_btn a {
    color: #bbb;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-right: 1px;
}



th.proj_menu_btn {
    text-align: right;
}

a.menu_button_link {
    color: #eaedef;
    font-size: 18px;
    text-decoration: none;
}

td.proj_foot {
    background-color: #fff;
    text-align: center;
}

a.add_task {
    color: #786452;
    font-weight: bold
}

a.noline {
    text-decoration: none;
}

th {
    text-align: left;
    border-bottom: 2px solid #F2F4F3;
    background-color: rgb(123, 73, 37);
    color: #FAFDFF;
    padding-left: 8px;
    padding-right: 14px;
    white-space: pre-wrap;
    font-size: 12pt;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 25px;

}


td {
    padding-top: 2px;
    padding-bottom: 2px;
    height: 20px;
    padding-left: 8px;
    padding-right: 8px;
    color: #000;
    text-overflow: ellipsis;
    max-width: 500px;
    white-space: nowrap;
    overflow: auto;
    font-size: 10pt;
}

/* Sortable tables */
table.sortable thead {
    cursor: default;
    table-layout: fixed;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #f3f3f3
}

tr:nth-child(odd) {
    background-color: #ffffff
}


tr:hover {
    border: 1px solid #bdd;
    background-color: rgb(255, 229, 195);
}

tr {
    border: 1px solid #eee;
}

tr.task_done {}

tr.task_done td {
    color: #bbe;
    background-color: #ddf;
}


table {
    width: 100%;
    overflow-wrap: anywhere !important;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-radius: 5px;
    margin-left: 15px;
    font-size: 10pt;
    -moz-box-shadow: 2px 2px 11px #bbb;
    -webkit-box-shadow: 2px 2px 11px #bbb;
}


.form-control:focus {
    box-shadow: none;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

div#login {

    text-align: right;
    float: right;
    padding: 5px;

}

.logged-in {
    font-weight: bold;
    color: #000000;
    padding: 10px;
}

.logout-link {
    margin-left: 10px;
    padding: 5px 5px;
    background-color: #dddddd00;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.2s ease-in-out;
}

.logout-link:hover {
    background-color: #ffffff;
}

.login-link {
    margin-left: 10px;
    padding: 5px 5px;
    background-color: #dddddd00;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.login-link:hover {
    background-color: #ffffff;
}

div#pageheader {
    width: 100%;
    float: left;
    background-color: rgb(123, 73, 37);
    border-bottom: 3px solid rgb(0, 0, 0);
}


input[type=text],
input[type=password] {
    padding: 3px 6px;
    box-sizing: border-box;
    border: 1px solid #888;
    border-radius: 3px;
    background-color: #fff;
    margin: 1px;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #F7DAD9;
}


textarea {
    width: 300px;
    height: 50px;
    padding: 5px 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin: 0px;
}

textarea:focus {
    background-color: #F7DAD9;
}

button {
    background-color: #fed;
    color: #000;
    border-radius: 2px;
    font-size: 10px;
    padding: 2px 4px;
    margin-right: 2px;
    border: 1px solid #ba9;
    -moz-box-shadow: 1px 1px 3px #bbb;
    -webkit-box-shadow: 1px 1px 3px #bbb;
}

button.nav {
    font-size: 12px;
    margin-top: 10px;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #A5907E;
    border: none;
    color: white;
    padding: 7px 12px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
    -moz-box-shadow: 1px 1px 7px #999;
    -webkit-box-shadow: 1px 1px 7px #999;
}


body {
    margin: 0px;
    background: #fff;
    font-family: Calibri;
    font-size: 12pt;
}

a {
    color: #377BA8;
}

.page {
    margin: 0.5em auto;
    width: 90%;
    float: left;
    padding: 1.7em;
    background: #fff;
}



div#var_main {
    overflow: hidden;
    /* will contain if #first is longer than #second */
}

div#var_info {
    float: left;
    padding-right: 60px;
}

div#var_comments {
    float: left;
    width: 400px;
    padding-right: 60px;
}

div#var_actions {
    float: left;
}


div#filter_div {
    float: left;
}

div#variantlist_div {
    float: left;
    padding-right: 30px;
}

div#var_cosmicgenes {
    clear: both;
}

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menu_div {
    position: absolute;
    min-width: 100px;
    left: 100px;
    top: 200px;
    background: #fff;
    -moz-box-shadow: 1px 3px 12px #aaa;
    -webkit-box-shadow: 1px 3px 12px #aaa;

}


input[type=submit].menu_link {
    width: 99%;
    background-color: white;
    text-align: left;
    border: none;
    color: #000;
    padding: 6px 15px;
    margin: 0px;
    text-decoration: none;
    -moz-box-shadow: 1px 1px 7px #fff;
    -webkit-box-shadow: 1px 1px 7px #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#menu_div input[type=submit]:hover {
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fafafa;
}

span.menu_header {
    font-size: 11px;
    color: #bbb;
    padding: 7px 10px;
}

div.logo {
    float: left;
    padding: 5px;
    width: 98%;
}

span.logo {
    padding-left: 40px;
}


span.logo a {
    text-decoration: none;
    font-size: 66px;
    font-weight: bold;
    color: rgb(223, 120, 73);
    text-shadow: 4px 4px 15px #000;
}

tr.sample_header {
    background-color: #024;
}

tr.sample_header td {
    border-top: 2px solid #69a;
    padding: 7px;
    color: #fff;
    text-align: center;
}

tr.bad {
    background-color: #fbb;
}

tr.bad td {
    color: #d66;
    text-decoration: line-through;
}

tr.sample_header_archived {
    background-color: #aaa;
}

tr.sample_header_archived td {
    border-top: 2px solid #ccc;
    padding: 7px;
    color: #eee;
    text-align: center;
}

.flex {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.flex>div {
    margin-right: 50px;
    margin-bottom: 50px;
}

span.large-badge {
    border: 1px solid #aaf;
    border-radius: 7px;
    padding: 3px 6px;
    background: #ddf;
}

span.badge {
    border-radius: 3px;
    padding: 1px 3px;
    margin-bottom: 7px;
    font-size: 12px;
    font-weight: bold;
}

span.small-badge {
    border-radius: 2px;
    padding: 0px 2px;
    margin-bottom: 4px;
    font-size: 10px;
}

span.info {
    border: 1px solid #aaf;
    background: #ddf;
}

span.success {
    border: 1px solid #8d8;
    background: rgb(255, 237, 170);
}

span.warning {
    border: 1px solid #ffa;
    background: #ffd;
}

span.error {
    border: 1px solid #faa;
    background: #fcc;
}

div#search {
    border: 1px solid #aaa;
}

div#search {
    padding: 10px 15px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgb(255, 255, 255);
    display: inline-block;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #aaa;
}

span.log_quote {
    background: #e4e4e4;
    font-family: monospace;
    font-size: 12px;
}

div.log_blockquote {
    margin: 5px 0px;
    display: block;
    max-width: 90%;
    width: max-content;
    font-family: monospace;
    font-size: 11px;
    padding: 5px;
    color: #fff;
    border: 2px solid #000;
    border-radius: 2px;
    background-color: #000;
}

div.log_entry {
    padding: 7px 7px;
    background-color: #fafafa;
    margin-bottom: 10px;
    border: 1px solid #9ab;
}


.tab {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: rgb(123, 73, 37);
    margin-bottom: auto;
    padding-left: 1.5vw;
    padding-top: 5px;
}

.tab a {
    color: rgb(223, 120, 73);
    text-decoration: none;
    background-color: rgb(123, 73, 37);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 14px;
    transition: 0.1s;
    font-weight: bold;

}

.tab a:hover {
    background-color: rgb(223, 120, 73);
    color: rgb(9, 9, 9);
}

/* Create an active/current tablink class */
.tab a.active {
    background-color: #ccc;
}


/* Center the form */
form {
    display: flex;
    justify-content: left !important;
    align-items: left !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    /*align-content: center !important;*/
}

/* Add margin to the form inputs */
form input {
    margin: 10px;
}

/* Style the submit button */
form button {
    background-color: rgb(123, 73, 37);
    color: rgb(223, 120, 73);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.button-container {
    display: flex;

}

.button-container button {
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 5px;
    width: fit-content;
    /* Add spacing between buttons */
}

/* Style the labels */
form label {
    font-weight: bold;
    font-size: 12pt;
}

/* Style the form group */
.form-group {
    display: flex;
    flex-direction: column;
}


.radio-buttons {
    display: flex;
    align-items: center;
}

.radio-buttons label {
    margin-right: 10px;
}


.df-table-class {
    table-layout: fixed !important;
    width: 100% !important;
    cursor: default;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.df-table-class th {
    width: 30%;
    text-align: center;
    border-bottom: 2px solid #F2F4F3;
    background-color: rgb(123, 73, 37);
    color: #FAFDFF;
    padding-left: 2px;
    padding-right: 2px;
    white-space: normal;
    font-size: 12pt;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 20px;
    overflow-wrap: break-word;
}

.df-table-class td {
    width: 25%;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    color: #000;
    font-size: 10pt;
    text-align: center;
    position: relative;
    cursor: default;
}


.df-table-class td.tooltip::after {
    content: attr(data-title);
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

.df-table-class td.tooltip:hover::after {
    opacity: 1;
    pointer-events: auto;
}


.report_table {

    width: 100% !important;
    overflow-wrap: anywhere !important;
    margin-bottom: 20px !important;
    border-collapse: collapse !important;
    border-radius: 5px !important;
    margin-left: 15px !important;
    font-size: 10pt !important;
    -moz-box-shadow: 2px 2px 11px #bbb !important;
    -webkit-box-shadow: 2px 2px 11px #bbb !important;
    align-self: flex-start !important;


}

.report_table th {
    text-align: left !important;
    border-bottom: 2px solid #F2F4F3 !important;
    background-color: rgb(123, 73, 37) !important;
    color: #FAFDFF !important;
    padding-left: 8px !important;
    padding-right: 14px !important;
    white-space: pre-wrap !important;
    font-size: 15pt !important;
    padding-top: 2.5px !important;
    padding-bottom: 2.5px !important;
    height: 25px !important;
    vertical-align: middle !important;
}

.report_table td {
    padding-top: 2.5px !important;
    padding-bottom: 2.5px !important;
    height: 20px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    color: #000 !important;
    text-overflow: ellipsis !important;
    max-width: 500px !important;
    white-space: inherit !important;
    overflow: auto !important;
    font-size: 12pt !important;
    vertical-align: middle !important;
}


.flash-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    /* set background color with alpha value to make it transparent */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* add a box shadow to make it stand out */
    animation: fadeOut 3s linear 3s forwards;
    /* add a fade out animation */
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.alert {
    margin-bottom: 0;
    border-radius: 0;
}

.alert-primary {
    background-color: rgba(0, 123, 255, 0.5) !important;
    color: #fff;
}

.alert-secondary {
    background-color: rgba(108, 117, 125, 0.5) !important;
    color: #fff;
}

.alert-success {
    background-color: rgba(40, 167, 69, 0.5) !important;
    color: #fff;
}

.alert-error {
    background-color: rgba(220, 53, 69, 0.5) !important;
    color: #fff;
}

.alert-warning {
    background-color: rgba(255, 193, 7, 0.5) !important;
    color: #fff;
}

.alert-info {
    background-color: rgba(23, 162, 184, 0.5) !important;
    color: #fff;
}

.alert-light {
    background-color: rgba(248, 249, 250, 0.5) !important;
    color: #343a40;
}

.alert-dark {
    background-color: rgba(52, 58, 64, 0.5) !important;
    color: #fff;
}

.floating-button {
    position: fixed;
    top: 98px;
    right: -1px;
    transform-origin: bottom right;
    background-color: rgb(123, 73, 37);
    color: rgb(223, 120, 73);
    text-shadow: 4px 4px 10px #000;
    padding: 10px 10px;
    border-radius: 50px;
    z-index: 9999;
    white-space: nowrap;
}

.floating-button span {
    font-size: 15px;
    display: block;
    text-align: center;
    writing-mode: vertical-lr;
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-90 {
    transform: rotate(90deg);
}