{% extends "base.html" %}

{% block title %}CLL Genie Admin{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="{{ url_for('login_bp.add_user') }}" class="btn btn-primary">Create User</a>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="{{ url_for('login_bp.update_user') }}" class="btn btn-primary">Update User</a>
        </div>
      </div>
    </div>
    <br>
{% endblock %}
